<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="OPCIP" value="127.0.0.1" />
    <add key="OPCNAME" value="Kepware.KEPServerEX.V4" />
    <add key="OPCPATH" value="FAW." />
    <add key="OPCDuration" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SERVICENAME" value="DX.CCRSkidService" />
    <add key="SERVICDESCRIPTION" value="滑撬号识别服务" />
    <add key="SERVICEINSTALL" value="已安装" />
    <add key="SERVICEUNINSTALL" value="未安装" />
    <add key="SERVICESTATERUNING" value="正在运行" />
    <add key="SERVICESTATESTOPED" value="已停止" />
    <add key="CAMERAPATH" value="http://root:pass@10.228.143.5/axis-cgi/mjpg/video.cgi" />
    <!--add key="CAMERAPATH" value="0" /-->
    <add key="LOGPATH" value=".\\logs\\Communication.log" />
    <add key="SNAPIMAGEPATH" value=".\\snapimage" />
    <add key="BKIMAGE" value=".//bkimage.bmp" />
    <!--  string Address, int Rack, int Slot /-->
    <add key="PLCIP" value="10.228.143.132" />
    <add key="Rack" value="0" />
    <add key="Slot" value="3" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>